<!DOCTYPE html>
<html>
  <head>
    <title>Papa fit Assignment</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Hello!! welcome to the phonebook app</h1>

    <form action="/addPhone" method="post">
      <input
        type="text"
        name="contactName"
        placeholder="Contact Name"
        required
      />
      <br />
      <input
        type="number"
        pattern="[1-9]{1}[0-9]{9}"
        name="contactNumber"
        placeholder="Contact Number"
        required
      /><br />
      <input type="submit" value="Add Contact" />
    </form>
    <br /><br />
    <a href="/viewAll">View all PhoneBook</a>
  </body>
</html>
